[submodule "magi"]
	path = magi
	url = git@github.com:a16z/magi.git
[submodule "archon"]
	path = archon
	url = git@github.com:refcell/archon.git
[submodule "varro"]
	path = varro
	url = git@github.com:refcell/varro.git
[submodule "op-reth"]
	path = op-reth
	url = git@github.com:clabby/op-reth.git
[submodule "substratum"]
	path = substratum
	url = git@github.com:clabby/substratum.git
[submodule "op-erigon"]
	path = op-erigon
	url = git@github.com:testinprod-io/op-erigon.git
[submodule "op-challenger"]
	path = op-challenger
	url = git@github.com:clabby/op-challenger.git
